# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Submodules
.gitmodules

# Ignore submodule paths to prevent accidental commits of dummy modules
#/app/(dashboard)/reports
yarn.lock
.vscode

vercel.json

# Service workers and workbox files
public/sw.js
public/workbox-*.js