# Database
DATABASE_URL="mysql://dangquochuy:Huydev2005%40@103.249.201.108:3306/lich_am_duong"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXTAUTH_SECRET="your-secret-key-here"
